@import './../../variables';
@import './../../mixins';

.eventHeader {
    @include coloring();
    @include pageHeadersFormatting();
}


.eventContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include coloring();
    text-align: center;
    padding-top: 50px;
}


.eventInfo {
    width: 100vw;
    position: relative;
    @include coloring();
    font: {
        family: $primaryFont;
        size: 1.2rem;
    }
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    z-index: 2;

    margin-bottom: 20px; 

    ul {
        list-style-type: none;
        margin : 0;
        padding: 0;
        z-index: 2;

        li {
            font-family: $secondaryFont;
            font-size: 1.5rem;
            margin: 30px;
            z-index: 2;
        }
    }
}


.eventTitle {
    font: {
        family: $secondaryFont;
        size: 1rem;
    }
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 2;

    img {
        width: 50px;
        height: auto;
        border-radius: 30%;
        margin-right: 10px;
        z-index: 2;
    }
}


.eventDescription {
    padding: 0 10px;
}

.listDescrip {
    font-family: $primaryFont;
    font-size: 1rem;
    z-index: 2;
}

.eventButton {
    @include buttonFormat();
    font-size: 110%;
}

.requestInformation {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        width: 100%;
        text: {
            align: center;
            transform: uppercase;
        }
        font-family: $primaryFont;
    }
    input, select, button {
        width: 150px;
        font: {
            family: $secondaryFont;
            size: 1.1rem;
        }
        margin-top: 15px;
        background-color: lightgrey;
    }
}


@media (min-width: 600px) {
    .eventDescription {
        padding: 0 60px;
    }
}

@media (min-height: 600px) and (min-width: 600px) {
    .eventHeader{
        img {
            width: 150px;
            top: calc(8vh);
            right: calc(40% - 150px);
        }
    }
}

@media (min-width: 800px) {
    .eventHeader {
        font-size: 4rem;
    }

    .eventTitle {
        font-size: 2rem;
        img {
            width: 90px;
        }
    }

    .eventDescription {
        padding: 0 120px;
        font-size: 1.6rem;
    }
    .eventInfo {
        li {
            font-size: 1.8rem;
        }
    }

    .listDescrip {
        font-size: 1.6rem;
    }
}
