@import './../variables';
@import './../mixins';

.mainFooter {
    height: 120vh;
    width: 100vw;
    position: relative;
    @include coloring();
    font-family: $primaryFont;
}

.logoImg {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footerMenu {
    display: flex;
    flex-wrap: wrap;
    
    list-style-type: none;
    margin: 0;
    z-index: 1;
    width: 100vw;

    position: absolute;
    top: 15vh;
    font-size: 20px;

    li {
        cursor: pointer;
        width: 50vw;
        text-align: right;
    }

}

.left {
    text-align: left !important;
    padding-left: 0.5em;
}

.infoBox {
    @include coloring();
    
    position: absolute;
    top: 30vh;
    width: 70vw;
    height: auto;
    margin: 20px 15vw;
    padding: 20px 30px;;
    z-index: 2;

    border: {
        width: 1px;
        color: white;
        style: solid;
        radius: 30%;
    }

    display: none;

    section {
        display: flex;
        flex-wrap: wrap;

        img {
            width: 100px;
            height: 100px;
            // margin-right: 20px;
            margin-bottom: 5px;
        }
        em {
            text-align: center;
            width: 100%;
            font-family: $secondaryFont;
        }
        div {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        p {
            width: 200px;
            // margin-left: 10px;
            text-align: center;
        }
        span {
            width: 100%;
            text-align: center;
            margin: 20px 0;
        }

    }
}

.featWineLink {
    color: white;
}

.infoBoxHeader {
    width: 100%;
    font: {
        family: $secondaryFont !important;
        size: 120%;
    }
    text: {
        transform: uppercase;
        align: center;
    }
    margin-top: 10px;
}

.historyP{
    width: 100% !important;
    font-size: 0.8rem;
    margin: 20px;
}

@media (min-width: 450px){
    .infoBox {
        section {
            img {
                margin-right: 20px;
                margin-bottom: 0;
            }
            div {
                flex-direction: row;
            }
            p {
                margin-left: 20px;
                text-align: center;
            }

        }
    }
}


@media (min-width:600px) and (min-height:600px){
    .mainFooter {
        height: 100vh;
    }
    .footerMenu {
        font-size: 30px;
    }

    .infoBox {
        top: 30vh;

        section {
            img {
                width: 150px;
                height: 150px;
                margin-right: 20px;
                margin-bottom: 0;
            }
            div {
                flex-direction: row;
            }
            p {
                margin-left: 20px;
            }

        }
    }
    .historyP {
        font-size: 1rem;
    }
}
