@import './../../variables';
@import './../../mixins';

.wineHeader {
    @include coloring();
    @include pageHeadersFormatting();

    img {
        width: 150px;
        z-index: 1;
    }
}

.wineContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include coloring();
    text-align: center;
    padding: 50px 100px 0 100px;
}

.wineProduct {
    width: 200px;
    @include coloring();
    font: {
        family: $primaryFont;
        size: 1.2rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px dotted $dragonRed;
    border-radius: 30%;
    padding: 20px 30px;
    
    z-index: 2;

    margin: 20px;

    h1 {
        font-family: $secondaryFont;
        text-transform: uppercase;
    }

    p {
        font-size: 1rem;
        margin: 10px 0 10px 0;
    }

    button {
        @include buttonFormat();
        font-size: 110%;
    }
}

.cart {
    font: {
        family: $secondaryFont;
        size: 0.7em;
    }
    text-transform: uppercase;
    z-index: 1;
    
    width: 80px;
    position: fixed;
    right: -2px;
    top: 45vh;

    button {
        @include buttonFormat();
        font-size: 0.5em;
    }
}

@media (min-height: 600px) and (min-width: 600px) {

    .wineHeader {
        font-size: 5rem;

        img {
            top: calc(8vh);
            right: calc(40% - 150px);
        }
    }

    .wineProduct {
        p {
            font-size: 1.2rem;
        }
    }

    .cart {
        right: 10px;
        button {
            font-size: 0.7em;
        }
    }
}
