@import './../../variables';
@import './../../mixins';

.visitHeader {
    @include coloring();
    @include pageHeadersFormatting();
    z-index: 2;
}


.visitInfo {
    width: 100vw;
    position: relative;
    @include coloring();
    font: {
        family: $secondaryFont;
        size: 1.2rem;
    }
    text-align: center;
    padding: 50px 0;

    p {
        margin: 15px 0;
        a, Link {
            color: $dragonRed;
            text-decoration: none;
        }
    }

}


@media (min-height: 600px) and (min-width: 600px) {
    .visitHeader{
        img {
            width: 150px;
            top: calc(8vh);
            right: calc(40% - 150px);
        }
    }
}

@media (min-width: 800px) {
    .visitHeader {
        font-size: 4rem;
    }
}