@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100|Josefin+Sans:100&thickness=1');


$primaryFont: 'Josefin Slab', serif;
$secondaryFont: 'Josefin Sans', sans-serif;

$dragonRed: #C42C00;